.userPhotoContainer {

  $radius: 75px;
  background-color: rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(245, 245, 245, 0.2);
  // background: url('http://placehold.it/350x150') center no-repeat;
  -moz-border-radius-topleft: $radius;
  -moz-border-radius-topright:$radius;
  -moz-border-radius-bottomleft:$radius;
  -moz-border-radius-bottomright:$radius;
  -webkit-border-top-left-radius:$radius;
  -webkit-border-top-right-radius:$radius;
  -webkit-border-bottom-left-radius:$radius;
  -webkit-border-bottom-right-radius:$radius;
  border-top-left-radius:$radius;
  border-top-right-radius:$radius;
  border-bottom-left-radius:$radius;
  border-bottom-right-radius:$radius;
  height: 120px;
  width: 120px;
  margin: 0 auto;
  // -moz-box-shadow: inset 0px 0px 7px #2c4058;
  // -webkit-box-shadow: inset 0px 0px 7px #2c4058;
  // box-shadow: inset 0px 0px 7px #2c4058;
  filter: progid:DXImageTransform.Microsoft.Shadow(strength = 3, direction = 150, color = '#000000');
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 3, Direction = 150, Color = '#000000')";

  .userPhotoBlank {
    font-size:16px;
    color: rgba(255, 255, 255, 0.5);
    padding-top:35px;
  }
}
