<ion-content class="login">
  <ion-grid>
    <ion-row>
      <ion-col>
        {{test}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-33>
      </ion-col>
      <ion-col width-33>
        <user-photo [url]="photoUrl"></user-photo>
      </ion-col>
      <ion-col width-33>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-slides #mySlider [options]="mySlideOptions">
          <ion-slide>
            <button class="fbLoginBtn" (click)="fbLogin()">Facebook Login</button>
          </ion-slide>

          <ion-slide>
            <p >Welcome<span *ngIf=user.firstName>,</span>{{user}}</p>
          </ion-slide>

          <ion-slide>
            <h2>Slide 3</h2>
          </ion-slide>
        </ion-slides>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
