.login {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b4158+0,2c4058+100 */
  background: #2b4158; /* Old browsers */
  background: -moz-linear-gradient(top,  #2b4158 0%, #2c4058 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #2b4158 0%,#2c4058 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #2b4158 0%,#2c4058 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b4158', endColorstr='#2c4058',GradientType=0 ); /* IE6-9 */
  color: #F7F7F7;


  ion-grid {
    height: 100%;
    ion-row {
      flex: 1;
      text-align: center;
      ion-col {
        .fbLoginBtn {
          width: 50%;
          padding: 20px;
        }
      }
    }
  }

}
